/*  here '*' denotes all the elements on the page, we have also included
psudo elements - before and after,
border-sizing property will now be inherited from body element */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* This is to set the root font size. By default the root font size 16px
NOTE - 1rem = 10px,  rem always depends on the root font size, here it is 10px 

NOTE - we avoid em, because that depends on parent font size, and involves lots of calculations*/
html{
    /* font-size: 10px; */
    /* Now instead of putting 10px directly, lets convert this into % so that when the user changes the font size in the browser,
    the font-size percentage is automatically calculated, 
    at the moment if we want to keep it 10px, then its % will be :
    10/16*100 = 62.5%
    If the user now changes the default font size to 12px(or anything else) from the browser,
    then the % will be recalculated and the html font size will be:
    12/16*100 = 75%
    This will then influence the subsequent rem sizes in the app */


    // author's note - this defines what 1rem is
    font-size: 62.5%;
}

body {
    /* this property helps to include padding and border to the width and height of the element so that the element does not look too big */
    box-sizing: border-box;  
}